*{
  margin: 0px;
  padding: 0px;
}
    #video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      height: auto;
      width: auto;
      z-index: -1;
  }
 
  a:link {
    text-decoration: none;
    color: white;
  }
  a:active {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  .navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.5rem;
    gap: 50px;
  }

.copyright {
  display: flex;
  justify-content: center;
  color: white;
  font-style: italic;
  font-size: 1.5rem;
  padding: 20px;
  margin-top: 100px;
}


.arise-one, .arise-two, .arise-three, .arise-four {
  border: 2px solid orange;
  border-radius: 20px;
  padding: 30px 100px;
  background: black;
}


.welcome {
  margin-top: 150px;
  color: white;
  text-align: center;
}

.tym {
  font-size: 4rem;
}

.album {
  margin-top: 130px;
  font-size: 2.5rem;
  padding: 50px;
}


.tym-meaning {
  color: white; 
  margin:30px; 
  padding: 30px; 
  font-size: 1.1rem;
  margin-top: 100px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  color: white;
  margin: 30px;
  text-transform: uppercase;
}

.assemblies {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


img[src$="png"] {
  border-right: 2px solid white;
  padding-right: 10px;
}

.ojoto {
  font-size: 1.7rem;
  color: yellow;
}

.church {
  margin-left: 50px;
  margin-top: 10px;
}

.teens {
  margin-top: 20px;
}
